.address_background{
    width: 100%;
}

.address_content{
    width: 40%;
    margin: 6vh auto;
}

.address__content_form,.address__content_title,.address__content_inner,.address__content_button{
    width: 100%;
}

.address__content_title{
    margin: 1vh 0;
    font-size: 2vw;
    font-weight: bold;
    display: flex;
}

.title{
    margin: 0 auto;
}

.group,.address__content_inner-title,.address__content_inner-input{
    width: 100%;
}

.label {
    font-size: 1.5vw;
}

.text {
    width: 99%;
    border-radius: 3px;
    border-color: rgb(184, 185, 186);
    font-size: 1.5vw;
    height: 4vh;
}

.error {
    width: 100%;
    height: 3vh;
    color: red;
    font-size: 1vw;
}

.button{
    width: 100%;
    height: 4vh;
    font-size: 1.5vw;
    border-radius: 3px;
    color: white;
    margin: 2vh 0;
    border: none;
    background: rgb(241, 43, 76);
}