.body{
    margin: 0;
}

.header{
    background: black;
    width: 100%;
    height: 5vw;
    display: flex;
    align-items: center;
}

.header-title{
    height: 60%;
    width: calc(100%/3);
    display: flex;
    align-items: center;
    padding: 0 2.5%;
}

.header-title__icon{
    width: 100%;
    height: 100%;
}