.body{
    margin: 0;
}

.header {
    background: black;
    width: 100%;
    height: 5vw;
    display: flex;
    align-items: center;
}

.header-title,
.header-search,.header-button {
    height: 60%;
    width: calc(100%/3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5%;
}

.header-title__icon {
    width: 100%;
    height: 100%;
}

.header-search__form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-search__form_item{
    padding: 1.5% 0 1.5% 10%;
    width: 100%;
    height: 60%;
    font-size: 1.5vw;
    color: black;
    border-radius: 5px;
}

.header-button__item{
    width: 100%;
    height: 100%;
}

.header-button__item_logout,.header-button__item_mypage,.header-button__item_login{
    background: black;
    color: white;
    font-size: 1.5vw;
    border: none;
    width: 100%;
    height: 100%;
}

.header-button__item_sell{
    background: white;
    color: black;
    font-size: 1.5vw;
    border-radius: 3px;
    border: none;
    width: 100%;
    height: 100%;
    margin-left: 1vw;
}