.index_background,.index_top{
    width: 100%;
}

.index_top__button{
    display: flex;
    margin-top: 5vh;
}

.index_top__button_recs{
    text-decoration: none;
    background: white;
    color: gray;
    font-size: 1.5vw;
    margin-left: 15vw;
    font-weight: bold;
}

.index_top__button_selected1{
    text-decoration: none;
    background: white;
    color: rgb(242, 95, 120);
    font-size: 1.5vw;
    margin-left: 15vw;
    font-weight: bold;
}

.index_top__button_my-list{
    text-decoration: none;
    background: white;
    color: gray;
    font-size: 1.5vw;
    margin-left: 5vw;
    font-weight: bold;
}

.index_top__button_selected2{
    text-decoration: none;
    background: white;
    color: rgb(242, 95, 120);
    font-size: 1.5vw;
    margin-left: 5vw;
    font-weight: bold;
}

.border{
    width: 100%;
    height: 0.2vh;
    background: gray;
}

.index_content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.item-card{
    width: calc(100%/5);
    margin-top: 4vh;
    padding: 2.5%;
}

.item-card__link{
    text-decoration: none;
    color: black;
}

.item-card__img .item-card__img-item {
    width: 100%;
    object-fit: cover;
}

.item-card__content{
    font-size: 1.5vw;
}