.edit_background {
    width: 100%;
}

.edit__content {
    width: 40%;
    margin: 6vh auto;
}

.edit__content_form,
.edit__content_title,
.edit__content_inner,
.edit__content_button {
    width: 100%;
}

.edit__content_inner-img{
    width: 100%;
    display: flex;
}

.form-input__img,
.form-input__img-item,
.reader_file,
.reader_image {
    width: 10vw;
    aspect-ratio: 1;
    margin-right: 3vw;
    border-radius: 50%;
}

.select {
    font-size: 1vw;
    padding: 0.5vh 1vw;
    border: 0.2vw solid rgb(248, 55, 104);
    color: rgb(248, 55, 104);
    border-radius: 5px;
    margin: auto 0;
}

.file {
    display: none;
}

.edit__content_title {
    margin: 1vh 0;
    font-size: 2vh;
    font-weight: bold;
    display: flex;
}

.title {
    margin: 0 auto;
}

.group,
.edit__content_inner-title,
.edit__content_inner-input {
    width: 100%;
}

.label {
    font-size: 1.5vw;
}

.text {
    width: 99%;
    border-radius: 3px;
    border-color: rgb(184, 185, 186);
    font-size: 1.5vw;
    height: 4vh;
}

.error {
    width: 100%;
    height: 3vh;
    color: red;
    font-size: 1vw;
}

.button__register {
    width: 100%;
    height: 4vh;
    font-size: 1.5vw;
    border-radius: 3px;
    color: white;
    margin: 2vh 0;
    border: none;
    background: rgb(241, 43, 76);
}