.mypage_background,
.mypage_user,
.mypage_top {
    width: 100%;
}

.mypage_user{
    display: flex;
}

.user{
    width: 70%;
    margin:4vh auto;
    justify-content: space-between;
    display: flex;
}

.user_name{
    margin-left: 6.5vw;
    display: flex;
}

.user_image{
    width: 10vw;
    aspect-ratio: 1;
    margin-right: 3vw;
    border-radius: 50%;
}

.user_title{
    font-size: 2.5vw;
    font-weight: bold;
    margin: auto 4vw;
}

.update{
    text-decoration: none;
    color: rgb(242, 95, 120);
    border: 0.1vw solid rgb(242, 95, 120);
    border-radius: 5px;
    padding: 0.5vh 2vw;
    margin: auto 0;
    font-size: 1.5vw;
    font-weight: bold;
}

.mypage_top__button {
    display: flex;
    margin-top: 5vh;
}

.mypage_top__button_sell {
    text-decoration: none;
    background: white;
    color: gray;
    font-size: 1.5vw;
    margin-left: 15vw;
    font-weight: bold;
}

.mypage_top__button_selected1 {
    text-decoration: none;
    background: white;
    color: rgb(242, 95, 120);
    font-size: 1.5vw;
    margin-left: 15vw;
    font-weight: bold;
}

.mypage_top__button_buy {
    text-decoration: none;
    background: white;
    color: gray;
    font-size: 1.5vw;
    margin-left: 5vw;
    font-weight: bold;
}

.mypage_top__button_selected2 {
    text-decoration: none;
    background: white;
    color: rgb(242, 95, 120);
    font-size: 1.5vw;
    margin-left: 5vw;
    font-weight: bold;
}

.border {
    width: 100%;
    height: 0.2vh;
    background: gray;
}

.mypage_content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.item-card {
    width: calc(100%/5);
    margin-top: 4vh;
    padding: 2.5%;
}

.item-card__link {
    text-decoration: none;
    color: black;
}

.item-card__img .item-card__img-item {
    width: 100%;
    object-fit: cover;
}

.item-card__content {
    font-size: 1.5vw;
}