.purchase_background{
    width: 100%;
}

.purchase{
    width: 90%;
    margin: 5vw auto;
    display: flex;
    justify-content: space-between;
}

.purchase_inner1{
    width: 60%;
}

.item_content{
    width: 100%;
    display: flex;
}

.item_image{
    width: 20vw;
    aspect-ratio: 1;
    background: rgb(206, 203, 203);
    margin-right: 3vw;
}

.name{
    font-size: 2vw;
    font-weight: bold;
}

.price{
    font-size: 2vw;
    margin: 1.5vw 0;
}

.border{
    width: 100%;
    height: 0.2vw;
    background: gray;
    margin: 45px 0 30px;
}

.payment-method{
    width: 100%;
}

.payment-method_title{
    margin-left: 2vw;
    font-size: 1.5vw;
    font-weight: bold;
}

.payment-method_inner{
    width: 100%;
}

.select{
    width: 40%;
    height: 3vw;
    margin:3vw 0 0.5vw 6vw;
    font-size: 1.5vw;
}

.user_shipping-address{
    width: 100%;
}

.user_shipping-address_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.shipping-address_title{
    margin-left: 2vw;
    font-size: 1.5vw;
    font-weight: bold;
}

.shipping-address_update{
    margin-right: 2vw;
    font-size: 1vw;
    text-decoration: none;
    color: rgb(3, 163, 163);
}

.user_postcode-address{
    font-size: 1.5vw;
    width: 80%;
    margin: 3vh 0 0.5vh 8vw;
}

.postcode,.address{
    border: none;
    display: block;
    width: 100%;
}

.purchase_inner2{
    width: 32%;
    margin: 0 0.5vw;
}

.price_confirmed,.payment-method_confirmed{
    width: 100%;
    border: 0.1vw solid black;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 4vw 0;
    font-size: 1.5vw;
}

.price_confirmed{
    border-bottom: 0.05vw solid black;
}

.payment-method_confirmed{
    border-top: 0.05vw solid black;
}

.purchase_button{
    width: 100%;
    height: 3vw;
    color: white;
    background: rgb(241, 43, 76);
    border-radius: 3px;
    border: none;
    padding: 0.5vw 0;
    font-size: 1.5vw;
    margin: 5vw 0;
}

.error {
    width: 100%;
    height: 3vh;
    color: red;
    font-size: 1vw;
}