.register_background{
    width: 100%;
}

.register__content{
    width: 40%;
    margin: 6vw auto;
}

.register__content_form,.register__content_title,.register__content_inner,.register__content_button,.register__content_login{
    width: 100%;
}

.register__content_title{
    margin: 1vw 0;
    font-size: 2vw;
    font-weight: bold;
    display: flex;
}

.title {
    margin: 0 auto;
}

.group,.register__content_inner-title,.register__content_inner-input{
    width: 100%;
}

.label{
    font-size: 1.5vw;
}

.text{
    width: 99%;
    border-radius: 3px;
    border-color: rgb(184, 185, 186);
    font-size: 1.5vw;
    height: 3vw;
}

.error{
    width: 100%;
    height: 3vw;
    color: red;
    font-size: 1vw;
}

.button__register{
    width: 100%;
    height: 3vw;
    font-size: 1.5vw;
    border-radius: 3px;
    color: white;
    margin: 2vw 0 ;
    border: none;
    background: rgb(241, 43, 76);
}

.register__content_login{
    text-align: center;
}
.button__login-page{
    font-size: 1.2vw;
    text-decoration: none;
    color: rgb(102, 167, 242);
}