.sell_background {
    width: 100%;
}

.sell__content {
    width: 60%;
    margin: 5vh auto;
}

.sell__content_form,
.sell__content_title,
.sell__content_inner,
.sell__content_button {
    width: 100%;
}

.profile__content_title {
    margin: 1vh 0;
    font-size: 2vw;
    font-weight: bold;
    display: flex;
}

.title {
    margin: 0 auto;
}

.group,
.sell__content_inner-title,
.sell__content_sub-title,.image-border,.border,.sell__content_inner-input {
    width: 100%;
}

.group{
    position: relative;
}

.sell__content_inner-title{
    margin: 2vw 0 1vw;
}

.label {
    font-size: 1.5vw;
    font-weight: bold;
}

.image_border{
    height: 20vw;
    border:0.1vw solid gray;
    display: flex;
    justify-content: center;
}

.reader_file,.reader_image{
    height: 100%;
}

.select{
    color: rgb(242, 95, 120);
    font-size: 1.5vw;
    border:0.1vw solid rgb(242, 95, 120);
    border-radius: 3px;
    padding: 0.5vw;
    margin: auto;
    position: absolute;
    top: 45%;
    left: 40%;
}

.file {
    display: none;
    height: 100%;
}

.sub-title{
    font-size: 2vw;
    color: gray;
}

.border{
    height: 0.2vw;
    background-color: gray;
}

.checkbox{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.category__item{
    margin: 1vw 0.5vw;
}

.category{
    display: none;
}

.category-name{
    font-size: 1.5vw;
    padding: 0.5vw 1vw;
    color: rgb(242, 95, 120);
    border: 0.3vh solid rgb(242, 95, 120);
    border-radius: 50px;
}

.category:checked+
.category-name{
    color: white;
    background: rgb(242, 95, 120);
    border: 0.3vw solid rgb(242, 95, 120);
    border-radius: 50px;
}

.text{
    width: 99%;
    border-radius: 3px;
    border-color: rgb(184, 185, 186);
    font-size: 1.5vw;
    height: 3vw;
}

.error {
    width: 100%;
    height: 3vw;
    color: red;
    font-size: 1vw;
}

.textarea{
    width: 99%;
    border-radius: 3px;
    border-color: rgb(184, 185, 186);
    font-size: 1.5vw;
    height: 6vw;
}

.button__register {
    width: 100%;
    height: 3vw;
    font-size: 1.5vw;
    border-radius: 3px;
    color: white;
    margin: 2vw 0;
    border: none;
    background: rgb(241, 43, 76);
}